
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
   margin: 0; 
   height: 1920px;
    width: 1080px;
  }

  
  .video-container {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#um_performance_compilation {
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

   .new_panel_toggle{
    position: relative;
   }

  .artistPanel{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 75px;
    font-size: 25px;
    text-align: center;
    display: none;
    margin-left: 125px;
  }
  
  .artistPic{
    width: 53%;
    margin-right: 250px;
}

.artistFavPic{
  width: 100%;
}
.spotifyqrPic{
    width: 10%;
    display: inline-block;

}
.appleqrPic{
    width: 10%;
    display: inline-block;

}  
  .sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  color: #f1f1f1;
  text-align: center;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  
  }
  
  
  .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }
  
  .sidebar a:hover {
  color: #f1f1f1;
  }
  .sidebar p{
  font-size: 16px;
  color: #f1f1f1;
  padding: 20px;
  
  }
  .sidebar h1 {
  padding-left: 20px;
  padding-right: 20px;
  }
  .sidebar img {
  padding-left: 20px;
  padding-right: 20px;
  }

  .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 40%;
  text-decoration: none;
  color: #f1f1f1;

  }
  
  .button-group {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.openbtn {
    margin-bottom: 10px; /* Adjust as needed */
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .openbtn:hover {
  background-color: #444;
  }
  
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  }
  
  .col-A1 {
    width: 75%; /* Adjust width as needed */
    margin: 0 auto; /* Center the content */
    text-align: left; /* Align content to the left */
  }
  
  .col-A1 h1 {
    display: inline-flex;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .col-A1 p {
    display: inline-flex;
    text-wrap: wrap; /* This property doesn't exist in CSS, consider 'overflow-wrap' or 'word-wrap' */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .firstClass, .secondClass, .thirdClass {
    flex: 1;
}

.col-A1, .col-3 {
  flex: 1;
}

.col-A1 {
  order: -1;
}

.col-3 {
  order: 1;
}

.firstClass {
    order: -1; /* Placing firstClass on the left */
}

.secondClass {
    order: 1; /* Placing secondClass on the right */
}

.thirdClass {
  order: 2; /* Placing secondClass on the right */
}